.service-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 60px;
  font-family: 'Space Grotesk', sans-serif;
  background-color: #f4fbf6;
  opacity: 0; // Initial state
  transition: opacity 2s ease;

  &.fade-in {
    opacity: 1;
  }

  span {
    font-size: 1rem;
    font-weight: bold;
    color: #28aa4a;
    opacity: 0;
    transform: translateY(-100%);
    transition: opacity 0.5s ease, transform 1.5s ease;

    &.fade-in {
      opacity: 1;
      transform: translateY(0);
    }
  }

  h2 {
    margin-top: 10px;
    color: #062f2b;
    font-size: calc(2vw + 1.5rem);
    opacity: 0;
    transform: translateY(-100%);
    transition: opacity 0.5s ease, transform 1.5s ease;

    &.fade-in {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .paragraph {
    text-align: center;
    font-size: 1rem;
    color: #8a8a8a;
    margin-bottom: 30px;
  }

  .whole-container {
    display: flex;
    gap: 30px;
    align-items: flex-start; /* Align at the top for consistency */
    flex-wrap: wrap;

    .first-container {
      display: flex;
      gap: 25px;
      flex-wrap: wrap;
      justify-content: center;

      .service1,
      .service2,
      .service3,
      .service4,
      .service5,
      .service6 {
        width: 200px;
        border-radius: 10px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        min-height: 250px; 
        position: relative;
        background-color: white;
        transition: all 0.3s ease;

        &:hover {
          transform: translateY(-10px);
          box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
      
          // This will trigger the fill animation when hovering over the service card
          .numbers-box::before {
            transform: translateY(0);
          }
        }
        .numbers-container {
          display: flex;
          justify-content: center;
          width: 100%;
          padding-bottom: 10px;
          border-bottom: 1px solid #d6d4d49a;

          .numbers-box {
            position: absolute;
            top: 0;
            right: 0;
            background-color: #f4f4f4;
            color: #333;
            font-size: 1.2rem;
            font-weight: bold;
            width: 80px;
            height: 80px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-top-right-radius: 10px;
            border-bottom-left-radius: 50px;
            overflow: hidden;
            z-index: 1;

            &::before {
              content: '';
              position: absolute;
              bottom: 0; // Start filling from the bottom
              left: 0;
              right: 0;
              height: 100%; // Full height to cover the container
              background: #28aa4a; 
              transform: translateY(100%); // Start hidden below the container
              transition: transform 0.6s ease; // Transition over 0.6 seconds
              z-index: -1; 
             
          }
          &:hover::before {
            overflow: hidden;
              transform: translateY(0); 
             
          }
      
          }

          img {
          
            max-width: 140px;
            padding-right: 60px;
            height: auto;
            padding-bottom: 20px;
          }
        }

        h1 {
          padding-top: 10px;
          font-size: 1rem;
          font-weight: bold;
          color: #333;
          white-space: normal;
          overflow: visible;
          word-wrap: break-word;
          }
          p{
            font-size: 1rem;
            color: #9c9b9bf5;
            margin-top: -5px;
          }
      }
    }
  }

  @media (max-width: 950px) {
    .whole-container {
      .first-container {
        .service1,
        .service2,
        .service3,
        .service4,
        .service5,
        .service6 {
          width: 100%;
        }
      }
    }
  }
}