.dashboard {
  position: relative;
  top: 0;           
  left: 0;
  right: 0;
  display: flex;
  justify-content: flex-start; 
  align-items: center; 
z-index: 2000;
}

.location {
  position: absolute;
  left:120px;
  display: flex;
  align-items: center;
  color: white;
  font-size: 0.9rem;
 font-weight: bold;
  letter-spacing: 0.1em;
 


  svg {
    margin-top: 4px;
    margin-right: 5px; 
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
  }
  @media (max-width: 950px) {
    display: none;
  }
}

.dashboard-main {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 5px;
  background: #126657;

  h1 {
    font-size: 0.9rem;
    text-align: center;
    margin: 0;
    display: flex;
    align-items: center;
    color: white;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0.1em;
    opacity: 0; // Start hidden for transition

    &.fade-in {
      animation: fadeIn 1s forwards; 
    }
  }

  a{
    font-size: 0.9rem;
    letter-spacing: 0.09em;
    color: white;
    text-decoration: none; 
    position: relative;
    display: flex;
    align-items: center;
    margin: 0;
    font-weight: bold;
    opacity: 0; // Start hidden for transition

    &.fade-in {
      animation: fadeIn 1s forwards; // Apply fade-in animation
    }

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      height: 2px; // Underline thickness
      background-color: white; // Underline color
      transition: width 0.3s ease; // Smooth transition for underline width
    }

    &:hover::after {
      width: 100%; // Underline full width on hover
    }

    .right-arrow {
      font-size: 16px;
      margin-left: 5px; // Space between text and arrow icon
    }
  }
  .working-hours {
    position: absolute;
    right: 90px; /* Align the working hours text to the right end */
    display: flex;
    align-items: center;
    color: white;
    font-size: 0.9rem;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0.05em;
   padding-top: 3px;
    svg {
      margin-right: 5px; /* Space between icon and text */
      font-size: 18px;
    }
    @media (max-width: 950px) {
      display: none;
    }
  }

  .arrow {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    padding: 0 8px;
    color: white;
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.2); // Zoom in effect
    }

    &.left {
      margin-right: auto;
    }

    &.right {
      margin-left: auto;
    }
  }
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
