.testimonial-section {
    padding: 100px 0 140px 0;
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    opacity: 0; // Initial state
    transition: opacity 2s ease;
  
    &.fade-in {
      opacity: 1;
    }
  
    .testimonial-heading {
      display: flex;
      flex-direction: column;
      width: 50%;
      font-family: 'Space Grotesk', sans-serif;
      text-align: left;
  
      h2 {
        color: #062f2b;
        font-size: calc(1.7vw + 2rem);
        padding-left: 50px;
        opacity: 0; // Initial state
        transform: translateY(-100%); // Slide in from below
        transition: opacity 0.5s ease, transform 1.5s ease; // Transition for both properties
  
        &.fade-in {
          opacity: 1; // Fade in
          transform: translateY(0); // Move to original position
        }
      }
    }
  
    .testimonial-sub {
      width: 170px;
      border-top-right-radius: 20px;
      background-color: #062f2b;
      padding: 10px;
  
      span {
        font-size: calc(1.2vw + 0.8rem);
        font-family: 'Space Grotesk', sans-serif;
        color: white;
        opacity: 0; // Initial state
        transform: translateY(-100%); // Slide in from below
        transition: opacity 0.5s ease, transform 1.5s ease; // Transition for both properties
  
        &.fade-in {
          opacity: 1; // Fade in
          transform: translateY(0); // Move to original position
        }
      }
    }
  
    p {
      color: #79807f;
      font-size: calc(1.2vw + 0.3rem);
      font-family: 'Space Grotesk', sans-serif;
      width: 100%;
      padding-left: 50px;
      margin: 12px 0;
    
    }
  
    .testimonial-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-items: right;
      position: relative;
      min-height: 300px;
      width: 100%;
      max-width: 400px;
      background-color: rgb(226, 241, 230);
      box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
      margin-top: 30px;
      border-radius: 12px;
      padding: 20px;
      margin-right: auto;
      margin-left: auto;
  
      @media (max-width: 1200px) {
        margin-right: 20px;
      }
  
      .testimonial-content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        gap: 25px;
  
        .feedback-container {
          display: flex;
          margin-bottom: 20px;
  
          .feedback-icon {
            margin-right: 10px;
            color: rgba(228, 153, 14, 0.733);
            font-size: 2.5rem;
          }
  
          span {
            font-style: italic;
            margin-bottom: 10px;
            font-size: 1.1rem;
          }
        }
  
        .detail-content {
          top: 210px;
          position: absolute;
          display: flex;
          align-items: center;
          width: 100%;
          margin-left: 20px;
  
          .detail-image {
            width: 100px;
            height: 100px;
            border-radius: 8px;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 3px solid #062f2b;
            background-color: #062f2b;
            margin-right: 15px;
          }
  
          img {
            width: 100%;
            height: 100px;
            object-fit: fill;
            border-radius: 50%;
            overflow: hidden;
          }
  
          .detail-name {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 10px;
  
            .name {
              background-color: #062f2b;
              padding: 5px;
              border-top-right-radius: 16px;
  
              h3 {
                font-size: 1.3rem;
                margin: 0;
                color: white;
                font-family: 'Space Grotesk', sans-serif;
              }
            }
  
            p {
              font-size: 1rem;
              margin: 0;
              padding: 0;
              color: red;
              font-weight: 300;
              font-family: 'Space Grotesk', sans-serif;
            }
          }
        }
      }
    }
  
    @media (max-width: 1000px) {
      flex-direction: column;
      width: 100%;
      .testimonial-heading {
        width: 100%;
        p {
          font-size: calc(1.2vw + 0.5rem);
        }
      }
  
      .testimonial-container {
        width: 90vw;
        max-width: none;
        padding: 15px;
  
        .detail-content {
          top: auto;
          position: relative;
          margin-left: 0;
  
          .detail-image {
            width: 80px;
            height: 80px;
            margin-right: 10px;
          }
  
          .detail-name {
            gap: 5px;
          }
        }
      }
    }
  }
  